[submodule "pico2w-tfm-exmaple"]
	path = pico2w-tfm-exmaple
	url = https://github.com/Entropy1110/pico2w-tfm-exmaple
[submodule "pico-sdk"]
	path = pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "pico2w-trusted-firmware-m"]
	path = pico2w-trusted-firmware-m
	url = https://github.com/Entropy1110/pico2w-trusted-firmware-m
