# ==============================================================================
# TF-M Provision Project .gitignore
# ==============================================================================

# ==============================================================================
# Build directories and artifacts
# ==============================================================================

# Main build directories
/build/
/build*/
/cmake_build*/

# Visual Studio Code
.vscode/
*.code-workspace

# Eclipse
*.project
*.cproject
.pydevproject
.settings/

# CLion
.idea/


# macOS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Windows
*.tmp
*.temp
desktop.ini

# ==============================================================================
# Custom project specific
# ==============================================================================

# Any custom config files that shouldn't be shared
*local.cmake
*local.config

venv
venv2
.claude
CLAUDE.md

tflite-micro